*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
    color: inherit;
}

body{
    height: 100vh;
    background-image: url(./img/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top:32px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 16px;
    font-family:'Inter', sans-serif;
    font-family:'Montserrat', sans-serif;;
}

header{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

header a{
    color: #22fffe;
    font-size: 1.5rem;
    border-bottom: 4px solid transparent;
}
header a:hover{
    border-bottom: 4px solid #22fffe;
}

header .logo-dc:hover{
    border-bottom: 4px solid transparent;
}

main{
    flex-grow: 1;
    display: flex;
}
.filme-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.descricao{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.descricao p{
width: 523px;
font-size: 1.45rem;
color: #fff;
}

.trailer{
    height:300px;
    display: flex;
    gap: 20px;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    color: #fff;
}

.social-container i:hover{
    color: #22fffe;
}

footer{
    height: 50px;
    color: #fff;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TABLET */

@media (max-width:768px){
    body{
        padding: 32px 0px 0px 0px;
        background-image: url(img/background-desktop\ 5.png);
    }

    .social-container{
        display: none;
    }

    .filme-container{
        align-items: center;
    }  

    .descricao{
        padding: 60px;
        justify-content: flex-start;
        flex-grow: 0;
    }

    .descricao p{
        text-align: center;
    }  

    .trailers{
        flex-direction: column;
    }

    .trailers img{
        width: 500px;

    }
        .trailers a:nth-child(3){
        display: none;
    }
    footer{
        display: none;
    }
}